.footer {
  padding: 40px 60px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--primary);
}

.footer .header-me-link {
  font-size: 13px !important;
}

.footer-section h3 .header-me-link {
  text-transform: uppercase !important;
}

.footer-bottom .header-me-link {
  font-size: 11px !important;
}


