.footer-section h3 {
  margin: 0 0 15px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}


.footer-section-header {
  font-weight: 600;
}