.header {
  padding: 20px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--text-primary);
  box-sizing: border-box;
  z-index: 1000;
}