.header-left {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-home-link,
.header-about-link {
  font-size: 1.1rem;
  margin-left: 20px;
}