.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 1.1rem;
  margin-left: 20px;
}

.theme-button:hover {
  color: var(--text-secondary);
}
