.footer {
  padding: 40px 60px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--primary);
}

.footer-headers {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 15%;
  width: 100%;
}

.footer-section {
  display: block;
}

.footer-section h3 {
  color: var(--text-primary);
  font-size: 18px;
  margin: 0 0 15px 0;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-section ul li a {
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-bottom {
  border-top: 1px solid #3b4045;
  padding-top: 15px;
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.footer-bottom-right {
  margin-left: auto;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 11px;
}

.footer-bottom a {
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer .header-me-link {
  font-size: 13px !important;
}

.footer-section h3 .header-me-link {
  text-transform: uppercase !important;
}

.footer-bottom .header-me-link {
  font-size: 11px !important;
}
