.footer {
  padding: 40px 60px;
  font-size: .75rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  color: var(--text-primary);
  background-color: var(--primary);
  width: 100vw;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}