.profile-picture {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25rem solid var(--primary);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
