:root {
  --primary: black;
  --secondary: white;
  --text-primary: var(--secondary);
  --text-secondary: var(--primary);
}

:root[data-theme="dark"] {
  --primary: white;
  --secondary: black;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

button, a { 
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}