.bio-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}


@media (max-width: 768px) {
  .bio-links {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

.link-icon {
  font-size: 3rem;
}

.bio-links a:hover {
  scale: 1.1;
  opacity: 1;
}
